body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    flex-direction: column;
    margin: 0;
}

.title{
    font-family: 'Press Start 2P', cursive;
    font-size: 5rem;
    clear: both;
}

.container{ 
    display: flex;
    height: 65vh;
    width: 35vw;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.btn{
    width: 160px;
    height: 160px;
    border: solid 15px black;
    border-radius: 20%;
    transition: all 0.2s ease;
}

.clicked{
 transform: scale(1.1);
 border-color: white;

}

.next{
    transform: scale(1.1);
    border-color: mediumslateblue;
}

.gameover{
    background-color: red;
}

.default{
    background-color: cornflowerblue;
}

#red{
    background-color: red;
}

#yellow{
    background-color: yellow;
}

#green{
    background-color: green;
}

#blue{
    background-color: blue ;
}